@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100%;
}

.map {
    height: 350px;
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
    display: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* background image for the body */
body {
    overflow-x: hidden;
    background-position: center;
    background: url(/imgs/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins";
}

/* take off the list styling */
ul,
li {
    list-style: none;
}

/* contains logo, top nav bar */
header {
    display: flex;
    background-color: white; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, .15), 0 4px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    z-index: 10;
    position: relative;
    margin-top: 10px;
    left: 0;
}

/* SaveMe logo in the header*/
#logo {
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* logo size */
header img {
    width: 50px;
}

/* logo heading*/
#logo h2 {
    color: #d63b00;
    font-weight: 100;
    font-size: 1.5em;
    cursor: pointer;
}

/* header navbar, adds a grey border between the logo and links section */
header .nav {
    position: relative;
    border-left: 1px solid #e9e9e9;
}

header .nav ul {
    display: flex;
    justify-content: space-between;
}

header .nav ul li {
    padding: 26px 20px 24px 20px;
    transition: all .2s ease;
    cursor: pointer;
}

header .nav ul li h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #d63b00;
   
}

header .nav ul li h3:hover{
    color: rgb(10, 89, 116);
    text-decoration: underline;
}

/* hover effect for the header */
header .nav ul li:active,
header .nav ul li:hover {
    background: lightblue;
    box-shadow: 0 -4px 0px #d63b00 inset;
}
/* styling for the links*/
a:link {
    color: #d63b00;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #d63b00;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: rgb(10, 89, 116);
}

/* styling for the log-out button*/
#logout {
    background-color: white;
    border-style: none;
    color: #d63b00;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Poppins";
}

/* hamburger menu on mobile*/
.hamburger-menu {
    display: none;
    margin-right: 20px;
    color: #797979;
    cursor: pointer;
    font-size: 1.6em;
}

/* don't display it on the desktop view */
.nav-mobile {
    display: none;
}

/* Side-bar contents */
aside {
    position: relative;
    top: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.3);
    width: 270px;
    height: 100%;
    float: left;
    background: white;
    overflow: auto;
    z-index: 10;
}
/* Side-bar heading*/
aside h2 {
    padding: 20px;
    color: #d63b00;
    font-weight: 100;
}

/* The Delete Button */
.delete {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.delete:hover,
.delete:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

aside .user-side {
    padding: 20px;
    border-top: 1px solid lightblue; 
}

/* User uploaded image */
aside .user-pic {
    float: left;
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

aside .user-pic img {
    width: 100%;
    height: 100%;
}

/* User details */
aside .user-info {
    display: flex;
    flex-direction: column;
    color: #d63b00;
}

/* User name styling */
aside .name {
    margin-bottom: 4px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 900;
}


/* Styling for search bar */
aside .search-bar {
    border-top: 1px solid lightblue;
    padding: 20px;
}

aside .search-bar .search {
    position: relative;
    display: flex;
    width: 100%;
}

aside .search-bar input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid lightblue;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-family: "open sans", serif;
    font-weight: 900;
    color: rgb(10, 89, 116);
}

aside .search-bar button {
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0 4px 4px 0;
    border: 1px solid  lightblue;
    background: #d63b00; 
    color: white;
    outline: none;
    cursor: pointer;
    border-left: 0;
}

/* Styling for tabs section in the sidebar */
.side-nav {
    border-top: 1px solid lightblue;
    padding: 20px 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.side-nav h2 {
    font-size: 1.2em;
    padding: 10px 0px 5px 20px;
    color: #d63b00;
    margin-bottom: 10px;
}

.side-nav ul li {
    display: flex;
    width: 100%;
    position: relative;
    padding: 8px 0px 8px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s ease;
    color: rgb(10, 89, 116);
}

.side-nav ul li:active,
.side-nav ul li:hover {
    background:#e1f2f7;
}

.side-nav ul li span {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background: gray;
    background-color: white;
}

.side-nav ul li h3 {
    line-height: 30px;
    font-size: 1.2em;
    color: #d63b00;
    font-weight: 100;
}

/* Vert bar on mobile, display none on desktop view */
.vert-bar {
    display: none;
}

/* Content section for the tabs*/
.main {
    position: relative;
    margin-left: 300px;
}

.main section {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}

.main section h1 {
    margin: 0 auto 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    color: grey;
}

.main section .text {
    font-weight: 500;
    padding: 30px 50px;
    font-size: 25px;
    height: 300px;
    display: flex;
    align-items: center;
}

/* DASHBOARD/INCIDENT LOG STYLING */
.userProfiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.incidentLog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.userProfiles .posts {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-align: center;
    height: 400px;
    width: 300px;
}

.userProfiles .posts:first-child {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfiles .posts:first-child span {
    text-align: center;
    width: 70px;
    height: 70px;
    background: grey;
    border-radius: 50%;
    line-height: 70px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.profile {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 10% 10%;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.profile #deleteProfileButton {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: right;
}

.profile .profilePicture {
    height: 100%;
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    overflow: hidden;
}

.profile .profileEmail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    font-size: 16px;
    font-weight: bold;
}

.profile .profileRole {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    font-size: 16px;
}

.incidentLog .posts {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-align: center;
    height: 250px;
    width: 200px;
}

.incidentLog .posts img {
    width: 100%;
    height: 80%;
}

.incidentLog .posts p {
    margin-left: 10px;
    line-height: 30px;
}

.incident {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5% 10%;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.incident #deleteIncidentButton {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.incident #incidentTitle {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}

.incident #incidentPriority {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    font-size: 16px;
    padding-top: 5px;
}

.incident #incidentType {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    font-size: 16px;
    padding-top: 5px;
}

.incident #incidentStatus {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    font-size: 16px;
    padding-top: 5px;
}

.incident #incidentTimestamp {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    font-size: 16px;
}

.incidentClose {
    color: #aaaaaa;
    font-size: 22px;
    font-weight: bold;
}

.incidentClose:hover,
.incidentClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL STYLING */
.modal {
    display: none;
    position: fixed;
    /* z-index controls the modal depth/whether it appears infront or behind something */
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Edit user modal content */
.edit-user-modal-content {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

#editUserProfile {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins";
}

/* Delete user modal content */
.delete-user-modal-content {
    position: fixed;
    background-color: #fefefe;
    margin: 0% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 430px;
    height: 180px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#deleteUserProfile {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* display incident modal content */
.display-incident-modal-content {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

#displayIncidentContent {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#deleteUserProfile h2 {
    margin-top: 18px;
}

#deleteUserProfile .submitButton {
    margin: 50px 8px 20px 50px;
}

input[type=radio] {
    visibility: hidden;
}

form {
    margin: 0px;
}

label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

label.radio:before {
    background: #FE3C00;
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

hr {
    color: #a9a9a9;
    opacity: 0.3;
}

#editUserProfile input[type=text],
#editUserProfile input[type=email],
#editUserProfile input[type=tel],
#editUserProfile input[type=password] {
    width: 150px;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 6px;
    margin-bottom: 7px;
    padding-left: 10px;
}

#icon {
    display: inline-block;
    width: 130px;
    background-color: #FE3C00;
    padding: 6px 0px 10px 6px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 0px #cbc9c9;
}

.accounttype {
    margin-top: 10px
}

.gender {
    margin-bottom: 10px;
}

.cancelButton {
    font-family: "Poppins";
    border-radius: 10px;
    border: 1px solid #FE3C00;
    background-color: #FE3C00;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 20px 8px 20px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.submitButton {
    border-radius: 10px;
    border: 1px solid #FE3C00;
    background-color: #FE3C00;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 20px 8px 20px 340px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.searchRadio {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.modalStatus {
    display: table;
    margin: 0 auto;
    color: #FE3C00;
}

#searchUserProfile {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    flex-direction: column;
}

.searchModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.edit-search-modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
}

.searchModalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.searchModalClose:hover,
.searchModalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#edit {
    font-family: "Poppins";
    border-radius: 10px;
    border: 1px solid #FE3C00;
    background-color: #FE3C00;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 50px 8px 20px 340px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

/* profile styling */

#nameGroup {
    display: inline;

}

#user_profile_section {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: lightblue;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}


.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#user_profile_section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#detail_user_firstN {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail_user_lastN {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
}

#detail_user_email {
    display: inline;
    font-weight: bold;
    margin-left: 50px;
}


#detail_user_password {
    display: inline;
    font-weight: bold;
    margin-left: 15px;
}


#detail_user_age {
    display: inline;
    font-weight: bold;
    margin-left: 60px;
}


#detail_user_gender {
    display: inline;
    font-weight: bold;
    margin-left: 32px;
}


#detail_user_cellphone {
    display: inline;
    font-weight: bold;
    margin-left: 40px;
}

#detail_user_role {
    display: inline;
    font-weight: bold;
    margin-left: 170px;
}
#edit {
    padding: 5px;
    outline: none;
}

#user_profile_image{
    border: solid black;
}

#detail_user_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 10px; 
}

#edit-button {
    width: 80px;
    padding: 5px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    box-shadow: 2px 2px 2px #3f3f3f;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#end-editing {
    width: 80px;
    margin-left: 5px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    box-shadow: 2px 2px 2px #3f3f3f;
}

#edit-button:hover {
    box-shadow: 2px 2px 3px;
}

#edit-button:active {
    box-shadow: 1px 1px 3px;
}

#end-editing:hover {
    box-shadow: 2px 2px 3px;
}

#end-editing:active {
    box-shadow: 1px 1px 3px;
}

#img-container {
    display: flex;
    justify-content: center;
}

#editUserStatus{
    color: red;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

@media (max-width:900px) {
    
    body {
        background-size: auto;
        height: 100%;
        overflow: scroll;
        background-repeat: repeat;
    }

    header {
        width: 100%;
        box-shadow: unset;
        border-bottom: 1px solid #e9e9e9;
    }

    .nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-mobile {
        display: block;
        position: fixed;
        left: 0;
        z-index: 500;
        background: #fff;
        padding: 10px;
        transition: all .2s ease-in-out;
        border-top: 1px solid #e9e9e9;
        width: 100%;
        bottom: 0;
        top: 105%;
    }

    .nav-mobile ul {
        padding: 10px 20px;
    }

    .nav-mobile ul li {
        display: flex;
        align-items: center;
        color: rgb(10, 89, 116);
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
        transition: all .2s ease;
    }

    .nav-mobile ul li.active,
    .nav-mobile ul li:hover {
        background: lightblue;
        color: #fff;
    }

    .nav-mobile ul li span {
        line-height: 2;
        font-size: 25px;
    }

    .nav-mobile ul li h3 {
        text-transform: uppercase;
        margin-left: 20px;
    }

    .nav-mobile.show {
        top: 70px;
    }

    .nav-mobile ul li a {
        margin-left: 20px;
        font-size: 20px;
    }

    .nav-mobile ul li a:hover {
        color: white;
    }

    #logout-btm-nav {
        margin-left: 20px;
        font-size: 20px;
        background-color: white;
        border-style: none;
        color: #d63b00;
        font-size:20px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Poppins";
    }


    .vert-bar {
        display: block;
        color: #797979;
        cursor: pointer;
        font-size: 1.6em;
        position: absolute;
        width: 35px;
        border-radius: 0 0 10px 0;
        text-align: center;
        background: #fff;
        line-height: 40px;
        z-index: 15;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    aside {
        transition: all .4s ease-in-out;
        top: 70px;
        z-index: 20;
        position: relative;
        overflow: hidden; 
        box-shadow: unset;
        width: 0;
        border-top: 1px solid #e9e9e9;
        transform: translateX(-200px);
    }

    aside.show {
        transform: translateX(0);
        width: 100%;
    }

    .close {
        display: block;
    }

    .main {
        margin-left: 0px;
    }

    .main section {
        width: 100%;
    }

    .main section .text {
        padding: 10px;
        font-size: 20px;
    }

    .submitButton {
        margin: 20px 8px 20px 100px;
    }

    .cancelButton {
        margin: 20px 8px 20px 0px;
    }

    #edit {
        margin: 50px 8px 20px 100px;
    }
}

@media (max-width: 450px) {
    .userProfiles .posts:first-child {
        height: 400px;
    }

    .incidentLog .posts:first-child {
        height: 400px;
    }

    .submitButton {
        margin: 20px 8px 20px 50px;
    }

    .cancelButton {
        margin: 20px 8px 20px 0px;
    }

    #edit {
        margin: 50px 8px 20px 100px;
    }
    
    #user_profile_section {
        width: 100%;
    }
}