@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin:0; 
    padding:0; 
    outline:0; 
    border:0; 
}

body {
    height: 100vh;
    font-family: "Poppins";
    display: grid;
    place-items: center;
    background: url(/imgs/background2.jpg);
    align-items: center;
    justify-content: center;

}

h1{
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 22rem;
    gap:1rem; 
}

input, 
select, 
textarea{
    padding:1.4rem; 
    background: white;
    border: 1px solid black; 
}

textarea{
    height: 6rem;
}

button {
    background-color: rgb(10, 136, 177);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



#back-btn {
  background-color: rgb(10, 136, 177);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}