/* Using the imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

:root {
    --primary: #4558e4;
    --secondary: #AA1155;
    --accent: #7f954b;
    --white: #F4F3EE;
}

.nav_parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
}

.nav2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.nav3 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
}

.nav4 {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
}

.nav5 {
    grid-area: 1 / 5 / 2 / 6;
    text-align: right;
}


footer {
    padding-bottom: 4.5rem;
    text-align: center;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.white {
    color: #ffffff;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-accent {
    background-color: var(--accent) !important;
}

.bg-light {
    background-color: var(--white) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-accent {
    color: var(--accent) !important;
}

#nav_desktop {
    display: none;
}

/* Media query for desktop/laptop screen */
@media screen and (min-width: 801px) {

    /* Hides mobile's footer */
    #footer_mobile {
        display: none;
    }

    /* Displays desktop's navbar */
    #nav_desktop {
        display: block;
    }
}